<div class="left-sidebar">
  <h2>Жанры</h2>
  <div class="panel-group category-products">
    <% genresList.forEach(function(genre) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <% if(url === '/catalog/genre/' + genre.id) { %>
              <a href="/catalog/genre/<%= genre.id %>" class="active">
                <%= genre.name %>
              </a>
            <% } else { %>
              <a href="/catalog/genre/<%= genre.id %>">
                <%= genre.name %>
              </a>
            <% } %>
          </h4>
        </div>
      </div>
    <% }); %>
  </div>
  <h2>Авторы</h2>
  <div class="panel-group category-products">
    <% authorsList.forEach(function(author) { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <% if(url === '/catalog/author/' + author.id) { %>
              <a href="/catalog/author/<%= author.id %>" class="active">
                <%= author.name %>
              </a>
            <% } else { %>
              <a href="/catalog/author/<%= author.id %>">
                <%= author.name %>
              </a>
            <% } %>
          </h4>
        </div>
      </div>
    <% }); %>
  </div>
</div>
