<%- include ('../layouts/header.ejs') %>

<section>
  <div class="container">
    <div class="row">
      <br/>
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><a href="/admin">Админпанель</a></li>
          <li class="active">Управление авторами</li>
        </ol>
      </div>
      <a href="/admin/author/create" class="btn btn-default back"><i class="fa fa-plus"></i>Добавить автора</a>
      <h4>Список авторов</h4>
      <br>
      <table class="table-bordered table-striped table">
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Статус отображения</th>
          <th></th>
        </tr>
        <% authorsList.forEach(function(author) { %>
          <tr>
            <td><%= author.id %></td>
            <td><%= author.name %></td>
            <% if(author.status === 1) { %>
              <td>Да</td>
            <% } else { %>
              <td style="color: red;"><b>Нет</b></td>
            <% } %>
            <td><a href="/admin/author/update/<%= author.id %>" title="Редактировать"><i
                  class="fa fa-pencil-square-o"></i></a></td>
          </tr>
        <% }); %>
      </table>
    </div>
  </div>
</section>

<%- include ('../layouts/footer.ejs') %>

