<%- include ('../layouts/header.ejs') %>

<section>
  <div class="container">
    <div class="row">

      <br/>

      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><a href="/admin">Админпанель</a></li>
          <li class="active">Управление жанрами</li>
        </ol>
      </div>

      <a href="/admin/genre/create" class="btn btn-default back"><i class="fa fa-plus"></i> Добавить жанр</a>

      <h4>Список жанров</h4>

      <br>

      <table class="table-bordered table-striped table">
        <tr>
          <th>ID</th>
          <th>Название</th>
          <th>Статус отображения</th>
          <th></th>
        </tr>
        <% genresList.forEach(function(genre) { %>
          <tr>
            <td><%= genre.id %></td>
            <td><%= genre.name %></td>
            <% if(genre.status === 1) { %>
              <td>Да</td>
            <% } else { %>
              <td  style="color: red;"><b>Нет</b></td>
            <% } %>
            <td><a href="/admin/genre/update/<%= genre.id %>" title="Редактировать"><i
                  class="fa fa-pencil-square-o"></i></a></td>
          </tr>
        <% }); %>
      </table>
    </div>
  </div>
</section>

<%- include ('../layouts/footer.ejs') %>

