<%- include ('../layouts/header.ejs') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%- include ('../layouts/left_sidebar.ejs') %>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <h2 class="title text-center">STRIPE CARD PAY METHOD</h2>
          <div id="card" class="row">
            <div class="col-sm-12">
              <div class="login-form">
                <% if(typeof message === 'undefined' && typeof error === 'undefined') { %>
                  <form action="/order/charge" method="post" id="payment-form">
                    <input type="hidden" name="order_id" value="<%= orderId %>">
                    <div class="form-row">
                      <label for="card-element" style="font-size: 18px">
                        Credit or debit card
                      </label>
                      <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                      </div>
                      <!-- Used to display Element errors. -->
                      <div id="card-errors" role="alert"></div>
                    </div>
                    <button>Submit Payment</button>
                  </form>
                  <% } else if(typeof message !== 'undefined') { %>
                    <h4 style="color: green;"><%= message %></h4>
                  <% } else { %>
                    <h4 style="color: red;"><%= error %></h4>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include ('../layouts/footer.ejs') %>
