<%- include ('../layouts/header.ejs') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Жанры</h2>
          <div class="panel-group category-products">
            <% genresList.forEach(function(genre) { %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="/catalog/genre/<%= genre.id %>">
                      <%= genre.name %>
                    </a>
                  </h4>
                </div>
              </div>
            <% }); %>
          </div>
          <h2>Авторы</h2>
          <div class="panel-group category-products">
            <% authorsList.forEach(function(author) { %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="/catalog/author/<%= author.id %>">
                      <%= author.name %>
                    </a>
                  </h4>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <h2 class="title text-center">Корзина</h2>
          <div id="cartBlock">
            <% if(session.cart && session.cart.totalItems !== 0) { %>
              <p>Вы выбрали такие книги:</p>
              <table class="table-bordered table-striped table">
                <thead>
                <tr>
                  <th>Код книги</th>
                  <th>Название</th>
                  <th>Стомость, ₴</th>
                  <th>Количество, шт</th>
                  <th>Удалить</th>
                </tr>
                </thead>
                <tbody>
                <% booksInCart.forEach(function(book) { %>
                  <tr>
                    <td><%= book.item.code %></td>
                    <td>
                      <a href="/view/<%= book.item.id %>">
                        <%= book.item.name %>
                      </a>
                    </td>
                    <td><%= book.item.price %></td>
                    <td><%= book.quantity %></td>
                    <td>
                      <a id="delFromCart" data-id="<%= book.item.id %>">
                        <i class="fa fa-times"></i>
                      </a>
                    </td>
                  </tr>
                <% }); %>
                <tr>
                  <td colspan="4">Общая стоимость, ₴:</td>
                  <td><%= totalPrice %></td>
                </tr>
                </tbody>

              </table>

              <a class="btn btn-default checkout" href="/order/place"><i class="fa fa-shopping-cart"></i> Оформить
                заказ</a>
              <a id="clearCart" class="btn btn-default checkout" href="#"><i class="fa
            fa-trash-o"></i> Очистить
                корзину</a>
            <% } else { %>
              <h4>Корзина пуста</h4><br>

              <a class="btn btn-default checkout" href="/"><i class="fa fa-shopping-cart"></i> Вернуться к покупкам</a>
            <% } %>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<%- include ('../layouts/footer.ejs') %>
