<%- include ('../layouts/header.ejs') %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%- include ('../layouts/left_sidebar.ejs') %>
      </div>

      <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
          <div class="row">
            <div class="col-sm-4">
              <div class="view-product">
                <% if(book.image) { %>
                  <a class="productinfo text-center" href="/<%= book.id %>/<%= book.name %>/download">
                    <img src="<%= book.image %>" alt="">
                  </a>
                <% } else { %>
                    <img src="/images/books/no-image.jpg" alt="">
                <% } %>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="product-information"><!--/product-information-->
                <% if(book.is_new == 1) { %>
                  <img src="/images/book-details/new.jpg" class="newarrival" alt=""/>
                <% } %>
                <h2><%= book.name %></h2>
                <span>
                  <span><%= book.price %> грн</span>
                <a id="addToCart" data-id="<%= book.id %>" class="btn btn-default checkout" href="#"><i class="fa
                fa-shopping-cart"></i>&nbsp;&nbsp;В корзину</a>
                </span>
                <h4>Автор: <%= book.authors %></h4>
                <h4>Жанр: <%= book.genres %></h4>
                <h4>Код: <%= book.code %></h4>
              </div><!--/product-information-->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <br/>
              <h3>Описание книги</h3>
              <p class="desc"><%= book.description %></p>
            </div>
          </div>
        </div><!--/product-details-->
      </div>
    </div>
  </div>
</section>

<%- include ('../layouts/footer.ejs') %>
