<%- include ('../../layouts/header.ejs') %>
<section>
  <div class="container">
    <div class="row">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><a href="/user/cabinet">Кабинет</a></li>
          <li class="active">Просмотр заказов</li>
        </ol>
      </div>
      <% if(Object.keys(orders).length !== 0) { %>
        <h4>Список заказов</h4>
        <br>
        <table class="table-bordered table-striped table">
          <tr>
            <th>Дата</th>
            <th>Номер заказа</th>
            <th>Общая сумма</th>
            <th>Количество книг</th>
            <th>Статус</th>
            <th></th>
            <th></th>
          </tr>
          <% orders.forEach(function(order) { %>
            <tr>
              <td><%= moment(order.created_at).format('LLL') %></td>
              <td><%= order.order_number %></td>
              <td>₴<%= order.grand_total %></td>
              <td><%= order.item_count %></td>
              <td>
                <% if(order.status === 'completed') { %>
                  <b><span style="color: green;">Завершен</span></b>
                <% } else { %>
                  <b><span style="color: red;">Не завершен</span></b> (<a href="/order/<%= order.id
                  %>/card">Оплатить</a>)
                <% } %>
              </td>

              <td><a href="/cabinet/order/view/<%= order.id %>" title="Посмотреть"><i
                    class="fa fa-eye"></i></a></td>
              <td><a href="/cabinet/order/delete/<%= order.id %>"
                     title="Удалить"><i class="fa
                        fa-times"></i></a></td>
            </tr>
          <% }); %>
        </table>
      <% } else { %>
        <h4>Заказов пока нет</h4>
      <% } %>
    </div>
  </div>
</section>
<%- include ('../../layouts/footer.ejs') %>
